{% extends "blog/base.html" %}
{% block content %}
    <div class="w3-panel w3-pale-yellow w3-border w3-border-yellow">
        <h1>About Page</h1>
        <h2>Welcome to My Blog Website!</h2>
        <p> I love to create blogs on different topics for a variety of reasons. There is a 
            need to Organize Your Thoughts throughout your learning process.Thus , I thought of creating a website where
            people can pen down their ideas and turn their imagination and creativity to reality. 
            When you begin writing a blog post, you are forced to organize your thoughts.Blogging enables you to be your own media company.
            Through blogs , you can impact other people's life and also imapart your knowledge to them.
            When you are writing about a topic of your own interest, you can decide how to portray a story, what information to include, and what information to exclude.
            Blogging allows you to ensure that all information included in the blog is factual. </p>
            <div>
                <h2>Do you want to write an Effective Blog?</h2>
                <h3>Follow these steps..</h3>
                <p>
                    <b>Step 1:</b> Plan your blog post by choosing a topic, creating an outline, conducting research, and checking facts.<br>
                    <b>Step 2:</b> Craft a headline that is both informative and will capture readers’ attentions.<br>
                    <b>Step 3:</b> Write your post, either writing a draft in a single session or gradually word on parts of it.<br>
                    <b>Step 4:</b> Use images to enhance your post, improve its flow, add humor, and explain complex topics.<br>
                    <b>Step 5:</b> Edit your blog post. Make sure to avoid repetition, read your post aloud to check its flow, have someone else read it and provide feedback, keep sentences and paragraphs short, don’t be a perfectionist, don’t be afraid to cut out text or adapt your writing last minute.<br>
                </p>
            </div>
      </div>
{% endblock content %}